.usermanage-bookings-container {
  padding: 2rem;
  padding-top: 6rem; 
  max-width: 1700px;
  margin: 0 auto;
  background-color: #f9fafb;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

.usermanage-bookings-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1f2937;
}

table{
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  padding: 14px 18px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

th {
  background-color: #f3f4f6;
  color: #374151;
  font-weight: 600;
}

td {
  color: #4b5563;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.refund-btn {
  background-color: #3b82f6;
}

.pagination {
  margin-top: 16px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 6px 12px;
  min-width: 80px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff; 
  border: none;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
}

.dark-mode .usermanage-bookings-container {
  background-color: #1e293b;
}

.dark-mode .manage-bookings-container h2 {
  color: #f1f5f9;
}

.dark-mode table {
  background-color: #334155;
}

.dark-mode th {
  background-color: #475569;
  color: #f1f5f9;
}

.dark-mode td {
  color: #e2e8f0;
}

.dark-mode .edit-modal {
  background-color: #334155;
}

.dark-mode .edit-modal h3 {
  color: #f1f5f9;
}

.dark-mode .edit-modal label {
  color: #f1f5f9;
}

.dark-mode .edit-modal input,
.dark-mode .edit-modal select {
  background-color: #475569;
  color: #f1f5f9;
  border: 1px solid #64748b;
}

.dark-mode .pagination span {
  color: #f1f5f9;
}

.dark-mode .refund-btn{
  background-color: #3b82f6;
}

.dark-mode tbody :hover{
  background-color: #8ab4f82a;
}

.dark-mode .delete-btn {
  background-color: #ef4444;
}

.dark-mode .edit-btn {
  background-color: #3b82f6;
}